{% extends 'base.html.twig' %}

{% block title %}New PartnerStatus{% endblock %}

{% block body %}
    <h1 style="background-color:#138496;color:white; text-shadow: 0px 0px 2px black;">&nbsp;Statuts de partenaires</h1>

    <p>→ Créer un statut</p>

    {{ include('partner_status/_form.html.twig') }}
    <br>
    <a href="{{ path('partner_status_index') }}">&#8592; Retour à la liste</a>
{% endblock %}
