{% extends 'base.html.twig' %}

{% block title %}Edit PreferredContact{% endblock %}

{% block body %}
    <h1 style="background-color:#138496;color:white; text-shadow: 0px 0px 2px black;">&nbsp;Modes de contact</h1>

    <p>→ Modifier le mode de contact n°{{ preferred_contact.id }}</p>

    {{ include('preferred_contact/_form.html.twig', {'button_label': 'Valider'}) }}
    <br>
    <a href="{{ path('preferred_contact_index') }}">&#8592; Retour à la liste</a>
    <br><br>
    {{ include('preferred_contact/_delete_form.html.twig') }}
{% endblock %}
