{% extends 'base.html.twig' %}

{% block title %}Hello HelloController!{% endblock %}

{% block body %}
        <h1 style="background-color:#138496; color:white; text-shadow: 0px 0px 1px black;">&nbsp;Accueil</h1>

        <div align="center" style="background-color:#01897b; border-radius:10px;">
                <br>
                <h1 style="font-family:Verdana, sans-serif; color: white; text-shadow: 0px 0px 2px black;">Direction Opération Innovation</h1>  
                <h1 style="font-family:Verdana, sans-serif; color: white; text-shadow: 0px 0px 2px black;">CRM</h1>  
                <br>
        </div>
{% endblock %}
