{% extends 'base.html.twig' %}

{% block title %}New Technology{% endblock %}

{% block body %}
    <h1 style="background-color:#138496;color:white; text-shadow: 0px 0px 2px black;">&nbsp;Technologies</h1>

    <p>→ Ajouter une technologie</p>

    {{ include('technology/_form.html.twig') }}
    <br>
    <a href="{{ path('technology_index') }}">&#8592; Retour à la liste</a>
{% endblock %}
