<form method="post" action="{{ path('type_of_event_project_delete', {'id': type_of_event_project.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_of_event_project.id) }}">
    <button class="btn">Supprimer</button>
</form>
