{% extends 'base.html.twig' %}

{% block title %}Edit TypeOfEventProject{% endblock %}

{% block body %}
    <h1 style="background-color:#138496;color:white; text-shadow: 0px 0px 2px black;">&nbsp;Types d'événements de projets</h1>

    <p>→ Modifier le type n°{{ type_of_event_project.id }}</p>

    {{ include('type_of_event_project/_form.html.twig', {'button_label': 'Valider'}) }}
    <br>
    <a href="{{ path('type_of_event_project_index') }}">&#8592; Retour à la  liste</a>
    <br><br>
    {{ include('type_of_event_project/_delete_form.html.twig') }}
{% endblock %}
