<form method="post" action="{{ path('participation_event_delete', {'id': participation_event.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ participation_event.id) }}">
    <button class="btn">Supprimer</button>
</form>
