{% extends 'base.html.twig' %}

{% block title %}Edit CaEntity{% endblock %}

{% block body %}
    <h1>Edit CaEntity</h1>

    {{ include('ca_entity/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ca_entity_index') }}">back to list</a>

    {{ include('ca_entity/_delete_form.html.twig') }}
{% endblock %}
