<table style="border:1px dotted black; background:#f1f1f1;">
    {{ form_start(form) }}
        <tr>
            <td>Nom</td>
            <td>{{ form_row(form.name) }}</td>
            <td><button class="btn">{{ button_label|default('Ajouter') }}</button></td>
        </tr>
    {{ form_end(form) }}
</table>

